<div class="panel panel-default">
  <div class="panel-body">
    <table class="table-condensed">
      <tr>
        <td><strong>Template:</strong></td>
        <td>
          <div ng-show="templates.length > 0">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="template">
                {{template.getMessageString(language)}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-max" role="menu" aria-labelledby="template">
                <li role="presentation"><a role="menuitem" tabindex="-1"
                                           ng-click="setTemplate(t)" ng-repeat="t in templates">{{t.getMessageString(language)}}</a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<accordion close-others="oneAtATime">
  <accordion-group heading="" is-open="status.open">
    <accordion-heading>
      Grid Size<i class="pull-right glyphicon"
                  ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <table class="table-condensed">
      <tr>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="rowCount">
              Rows: {{template.rows}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="rowCount">
              <li role="presentation"><a role="menuitem" tabindex="-1"
                                         ng-click="setRows(n + 1)" ng-repeat="n in [] | range:maxRows">{{n + 1}}</a>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="colCount">
              Columns: {{template.getColumns()}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="colCount">
              <li role="presentation"><a role="menuitem" tabindex="-1"
                                         ng-click="setColumns(n + 1)" ng-repeat="n in [] | range:maxColumns">{{n + 1}}</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </accordion-group>
</accordion>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Action View</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr ng-repeat="row in [] | range:template.rows">
        <td ng-repeat="col in [] | range:template.getColumns()" ng-style="{'width': cellWidth(), 'height': getCellHeight(row,col)}">
          <div class="btn-group-vertical btnwrap" role="group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btnwrap" type="button" id="cell{{row}}{{col}}">
                {{getCellGroup(row, col).getString(language)}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-max" role="menu" aria-labelledby="cell{{row}}{{col}}">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setCellName(row, col, group.name)"
                                           ng-repeat="group in groups">{{getGroupDropDownName(group)}}</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-default" ng-style="{'background': getCell(row, col).color}" ng-show="showCellInfo(row, col)"
                    ng-click="selectColor(row, col)"></button>
          </div>
          <table width="100%" ng-show="showCellInfo(row, col)" ><tr>
            <td><div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="cell-size-{{row}}{{col}}">
                {{getCell(row, col).size}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="cell-size-{{row}}{{col}}">
                <li role="presentation"><a role="menuitem" tabindex="-1"
                                           ng-click="setCellSize(row, col, sz)" ng-repeat="sz in cellSizes">{{sz}}</a>
                </li>
              </ul>
            </div>
            </td><td>
              <span class="pull-right glyphicon glyphicon-info-sign" popover="{{getGroupDescText(getCellGroup(row, col))}}"
                      popover-trigger="mouseenter"></span>
            </td>
          </tr></table>
        </td>
      </tr>
    </table>
  </div>
</div>
