<alert type="warning" ng-hide="ruleAlert.enabled == false">Sorry, failed to add, delete, or change a compliance rule.</alert>
<div class="panel panel-default">
  <div class="panel-body list-group">
    <div class="list-group-item">
      <button class="btn btn-default" ng-click="addRule()" tooltip="Add a new compliance rule.">
        <span class="glyphicon glyphicon-plus"></span>
        Add a Compliance Rule
      </button>
    </div>
    <table class="table-condensed table-bordered list-group-item">
      <thead>
      <tr>
        <th colspan="2">ID</th>
        <th colspan="2">Name [{{language.code}}]</th>
        <th colspan="2">Description [{{language.code}}]</th>
        <th>Rule Type</th>
        <th>Countries</th>
      </tr>
      </thead>
      <tr ng-repeat="r in rules">
        <td>{{r.name}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Rename {{r.name}} compliance rule."
                  ng-click="editRule(r)"></button>
        </td>
        <td>{{r.getString(language)}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Edit {{r.name}} [{{language.code}}] name."
                  ng-click="editRuleName(r)"></button>
        </td>
        <td>{{r.getDesc(language)}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Edit {{r.name}} [{{language.code}}] description."
                  ng-click="editRuleDesc(r)"></button>
          <button class="glyphicon glyphicon-globe" tooltip="Translate {{r.name}} description to {{language.code}}"
                  ng-click="translateRuleDesc(r)" ng-show="!language.code.startsWith('en')"></button>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="ruletype-{{r.name}}">
              {{r.ruleType}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="ruletype-{{r.name}}">
              <li role="presentation"><a role="menuitem" tabindex="-1"
                                         ng-click="r.ruleType = rt" ng-repeat="rt in ruleTypes">{{rt}}</a>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <tags-input ng-model="r.countries"
                      display-property="code"
                      min-length="2"
                      placeholder="Add a Country"
                      on-tag-adding="validateCountry($tag)">
            <auto-complete source="loadCountries($query)"
                           min-length="1"
                           load-on-empty="true"
                           load-on-focus="true"
                           max-results-to-show="20"
                           template="autocomplete-template">
            </auto-complete>
          </tags-input>
        </td>
        <td>
          <button class="glyphicon glyphicon-remove" tooltip="Delete {{r.name}} compliance rule."
                  ng-click="removeRule(r)"></button>
        </td>
      </tr>
    </table>

  </div>
</div>

<script type="text/ng-template" id="autocomplete-template">
  <div class="autocomplete-template">
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
      <span>({{data.desc}})</span>
    </div>
  </div>
</script>
