<alert type="warning" ng-hide="groupAlert.enabled == false">Sorry, failed to add, delete, or change a rule group.</alert>
<div class="panel panel-default">
  <div class="panel-body list-group">
    <div class="list-group-item">
      <button class="btn btn-default" ng-click="addGroup()" tooltip="Add a new rule group.">
        <span class="glyphicon glyphicon-plus"></span>
        Add a Rule Group
      </button>
    </div>
    <table class="table-condensed table-bordered list-group-item">
      <thead>
      <tr>
        <th colspan="2">Name</th>
        <th colspan="2">Description [{{language.code}}]</th>
      </tr>
      </thead>
      <tr ng-repeat="g in groups">
        <td>{{g.name}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Rename {{g.name}} rule group."
                  ng-click="editGroup(g)"></button>
        </td>
        <td>{{g.getString(language)}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Edit {{g.name}} [{{language.code}}] description."
                  ng-click="editGroupDesc(g)"></button>
        </td>
        <td>
          <button class="glyphicon glyphicon-remove" tooltip="Delete {{g.name}} rule group."
                  ng-click="removeGroup(g)"></button>
        </td>
      </tr>
    </table>

  </div>
</div>
