<alert type="warning" ng-hide="groupAlert == false">Sorry, you can't delete or change this group.</alert>
<div class="panel panel-default">
  <div class="panel-body list-group">
    <div class="list-group-item">
      <button class="btn btn-default" ng-click="addGroup()" tooltip="Add a new rule group.">
        <span class="glyphicon glyphicon-plus"></span>
        Add a Rule Group
      </button>
    </div>
    <table class="table-condensed table-bordered list-group-item">
      <tr ng-repeat="g in groups">
        <td>{{g}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Rename {{g}} rule group."
                  ng-click="editGroup(g)"></button>
        </td>
        <td>
          <button class="glyphicon glyphicon-remove" tooltip="Delete {{g}} rule group."
                  ng-click="removeGroup(g)"></button>
        </td>
      </tr>
    </table>

  </div>
</div>
