<alert type="success" ng-hide="projectLoadSuccessAlert.enabled == false">Sucessfully loaded project {{projectData.name}}!</alert>
<alert type="success" ng-hide="projectSaveSuccessAlert.enabled == false">Sucessfully saved project {{projectData.name}}!</alert>
<alert type="warning" ng-hide="projectChangesPendingAlert.enabled == false">Project changes have been made. Save project or reload page.</alert>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table-condensed">
      <tr>
        <td>
          <button class="btn btn-default" ng-click="writeJson(projectData.name)" tooltip="Save current work as a JSON project file."
                  ng-disabled="projectData.name.length == 0">
            <span class="glyphicon glyphicon-arrow-down"></span>
            Save Project JSON
          </button>
        </td>
        <td>
          <input type="text" ng-model="projectData.name" class="form-control" placeholder="Project Name" ng-trim="true">
        <td>.json
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-default" ng-click="selectFile()" tooltip="Load a JSON project file.">
            <span class="glyphicon glyphicon-arrow-up"></span>
            Load Project JSON
          </button>
          <input onchange="angular.element(this).scope().readJson(this)"
                 style="display:none" id="jsonfile" type="file" accept=".json"/>
        </td>
      </tr>
    </table>
  </div>
</div>
