<alert type="warning" ng-hide="templateAlert.enabled == false">Sorry, failed to add or change a template.</alert>
<div class="panel panel-default">
  <div class="panel-body list-group">
    <div class="list-group-item">
      <button class="btn btn-default" ng-click="addTemplate()" tooltip="Add a new action view template.">
        <span class="glyphicon glyphicon-plus"></span>
        Add an Action View Template
      </button>
    </div>
    <table class="table-condensed table-bordered list-group-item">
      <thead>
      <tr>
        <th colspan="2">ID</th>
        <th colspan="2">Name [{{language.code}}]</th>
      </tr>
      </thead>
      <tr ng-repeat="t in templates">
        <td>{{t.getName()}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Rename {{t.getName()}} template."
                  ng-click="editTemplate(t)"></button>
        </td>
        <td>{{t.getMessageString(language)}}</td>
        <td>
          <button class="glyphicon glyphicon-pencil" tooltip="Edit {{t.getName()}} [{{language.code}}] name."
                  ng-click="editTemplateName(t)"></button>
        </td>
        <td>
          <button class="glyphicon glyphicon-remove" tooltip="Delete {{t.getName()}} template."
                  ng-click="removeTemplate(t)"></button>
        </td>
      </tr>
    </table>

  </div>
</div>
