<div class="modal-body">
  <strong>Select color for {{type}}:</strong>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered">
        <tr ng-repeat="cols in rows">
          <td ng-repeat = "col in cols">
            <span ng-if="col !== undefined">
              <button class="btn btn-default dropdown-toggle btnwrap" type="button" id="{{col.name}}"
                    ng-style="{'background': col.color}" ng-click="ok(col.color)">
              {{col.name}}
              </button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
