<div class="modal-body">
  <strong>{{message}}:</strong>
  <table class="table-condensed">
    <tr>
      <td>
        <td-parameter-edit ng-model="rule.rangeDays" title="Range Days" />
      </td>
    </tr>
    <tr>
      <td>
        <td-parameter-edit ng-model="rule.windowDays" title="Window Days" />
      </td>
    </tr>
    <tr>
      <td>
        <td-parameter-edit ng-model="rule.thresholdDays" title="Threshold Days" />
      </td>
    </tr>
    <tr>
      <td>
        <td-parameter-edit ng-model="rule.thresholdHoursADay" title="Threshold Hours" />
      </td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="!OkIsActive()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
